{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo doloremque ab magnam enim eligendi omnis earum, sed officiis, odio aliquid facilis quam amet consectetur! Cum quia unde accusamus debitis at aspernatur, magni labore atque saepe tenetur consequuntur similique, architecto voluptate error, hic excepturi dolor molestias fugiat? Modi nam quibusdam beatae aliquid perspiciatis dolore sit molestias eveniet quia! Est quo, totam explicabo accusamus quis sequi fugit eum accusantium repellendus fuga nobis facilis laudantium cumque voluptate, ducimus nulla voluptas consequuntur vero iure. Enim amet possimus distinctio a cumque, ea minus sit temporibus error voluptatem numquam praesentium ex cupiditate adipisci odit ipsam? Perspiciatis.</p>

        <div class="text-center">
            <a class="btn btn-dark" href="/signin/">
                Login
            </a>
            <a class="btn btn-secondary" href="/signup/">
                Register
            </a>
        </div>
    </section>
</main>
{% endblock %}